<h1>The {{season.[0].year}} Formula 1 Season</h1>
<ul>
  {{#each laptimes}}
    <li>Lap: {{lap}}, Driver: {{driverId}}, Time: {{time}}</li>
  {{/each}}
</ul>
<!-- investigate handlebar helpers to show a list of drivers and their associated laptimes -->
