<div class="row">
  <div class="seasons six columns">
    <h3>Seasons</h3>
    <ul>
      {{#each seasons}}
      <li><a href="/season/{{year}}">{{year}}</a></li>
      {{/each}}
    </ul>
  </div>
</div>
