h1, h2, h3, h4, h5 {
  color: #272623;
  font-family: 'Martel';
  font-weight: 300;
  line-height: 52px;
  margin-bottom: 48px;
  text-align: center;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 32px;
  margin-bottom: 12px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
  margin-bottom: 0;
}

h5 {
  font-size: 16px;
}

p {
  color: #272623;
  font-family: 'Roboto Condensed';
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 3px;
  margin-bottom: 48px;
  text-align: center;
  text-transform: uppercase;
}

a {
  color: #56bba7;
  letter-spacing: 2px;
  text-decoration: none;
}

a:hover {
  color: #272623;
  transition: .15s color ease-in;
}

ul {
  list-style: none;
}

table {
  margin: 0 auto 2em;
}

.container {
  margin: 30px auto;
}

.main-header {
  color: #272623;
}

.main-header:hover {
  color: #56bba7;
  transition: .15s color ease-in;
}


/* Home */

.seasons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3em;
}

.season {
  text-align: center;
  display: inline;
  padding: 0 2%;
  flex-basis: 6%;
}

.circuits {
  margin-top: 0;
  text-align: center;
}

.home h3 {
  margin-bottom: 0;
}

#home-link-img {
  width: 50px;
}

#home-link:hover {
  margin-left: -5px;
}

.separator:after {
  background: #56bba7;
  content: '';
  display: block;
  height: 1px;
  margin: 28px auto 2em;
  width: 50px;
}

.round h3 {
  margin-bottom: 14px;
}

.round p {
  margin-bottom: 0px;
}

.selected {
  background: #F0F1ED;
}

.sub-section {
  background: #EBEDE7;
  margin-top: 1em;
  padding-top: 1em;
  box-shadow: inset 0px 11px 20px -10px #ccc, inset 0 -11px 20px -10px #ccc;
}

.toggle-image {
  display: inline;
}

.toggle-icon {
  height: .8em;
  padding: 0;
  margin: 0;
  transition: transform 0.7s ease;
  filter: grayscale(100%);
}

.toggle-open .toggle-icon {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  filter: none;
}

.toggle > p:not(:first-of-type) {
  margin-bottom: .5em;
}

.toggle p:first-of-type {
  margin-bottom: 1em;
}

.quali-results,
.grid,
.results {
  padding: 2em 0 1em;
  margin-bottom: 2em;
}

.content {
  animation: fadeIn 1s;
}

.no-data {
  /*color: #3A3937;*/
  padding: 2em;
  max-width: 50%;
  margin: 0 auto;
}

.no-data p {
  text-transform: none;
  margin-bottom: 1em;
  letter-spacing: normal;
}

.center {
  margin: 2em auto;
}


/* Circuits */

.circuit-list {
  margin: 0 auto;
}

.circuit-list ul {
  margin: 0 auto;
}


/*  Visualise page  */

.driver {
  text-align: left;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  border-right: 4px solid #eee;
  margin-bottom: .5em;
  overflow: hidden;
  z-index: 1;
}

.driverBar {
  display: inline;
}

.vis-color {
  text-align: center;
  color: black;
  top: 0;
  left: 0;
  float: left;
  background: #56bba7;
  opacity: 0.5;
  top: 0;
  z-index: 2;
  transition: width 0.15s linear;
}

.race {
  text-align: center;
}

.race h3 {
  margin-bottom: 1em;
}

.race button {
  background: #56bba7;
  border-color: #56bba7;
}

.beta {
  text-transform: none;
  font-size: 12px;
  opacity: .7;
  margin-bottom: 0;
}

.more-from {
  margin-top: 2em;
}

.hidden {
  display: none;
}


/* Other  */
.loading {
  display: flex;
  margin-top: -1em;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}
